<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor Window</title>
    <link href="/static/output.css" rel="stylesheet">
</head>

<body class="bg-slate-950">
    <!-- NAVBAR -->
    <nav class="relative w-full bg-slate-800 text-white">
        <div class="container mx-auto flex justify-between items-center px-6 py-4">
            <div
                class="text-3xl md:text-4xl font-bold text-left bg-gradient-to-r from-teal-600 via-blue-400 to-purple-500 bg-clip-text text-transparent md:ml-10 md:mt-0.5">
                Manipix</div>

            <!-- Hamburger Button -->
            <button id="hamburger" class="block md:hidden text-3xl text-gray-300 hover:text-gray-700">
                &#9776;
            </button>

            <ul id="menu"
                class="hidden text-2xl text-purple-950 font-semibold flex-col space-y-4 absolute top-full left-0 w-full bg-slate-900 p-2 md:static md:flex md:flex-row md:space-y-0 md:space-x-5 md:bg-transparent md:from-transparent md:to-transparent md:flex-1 md:items-end md:justify-end">
                <li><button
                        class="px-10 py-2 text-lg bg-gradient-to-r from-blue-600 to-cyan-400 text-slate-950 font-bold rounded-full border border-transparent hover:text-white shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-300">Create</button>
                </li>
                <li><button
                        class="px-10 py-2 text-lg bg-gradient-to-r from-blue-600 to-cyan-400 text-slate-950 font-bold rounded-full border border-transparent hover:text-white shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-300">Explore</button>
                </li>
                <li><button
                        class="px-10 py-2 text-lg bg-gradient-to-r from-blue-600 to-cyan-400 text-slate-950 font-bold rounded-full border border-transparent hover:text-white shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-300">Plugins</button>
                </li>
            </ul>
        </div>
    </nav>


    <div class="flex flex-col lg:flex-row mt-10 mb-10 gap-y-8 lg:gap-x-20 lg:ml-7">
        <!-- TOOLS SIDEBAR -->
        <div
            class="bg-slate-800 text-white flex flex-row lg:flex-col lg:mb-0 items-center px-2 gap-x-3 lg:gap-y-4 lg:w-20 rounded-md lg:py-2 lg:px-0">
            <button><img src="/static/images/blur.png" alt="" id="resizeButtonToolbar">Resize</button>
            <button><img src="/static/images/resize.png" alt=""></button>
            <button><img src="/static/images/blur.png" alt=""></button>
            <button><img src="/static/images/resize.png" alt=""></button>
            <button><img src="/static/images/blur.png" alt=""></button>
            <button><img src="/static/images/resize.png" alt=""></button>
            <button><img src="/static/images/blur.png" alt=""></button>
            <button><img src="/static/images/resize.png" alt=""></button>
            <button><img src="/static/images/blur.png" alt=""></button>
            <button><img src="/static/images/resize.png" alt=""></button>
        </div>

        <!-- UPLOAD IMAGE -->
        <div class="bg-slate-800 lg:w-[56rem] rounded-2xl">
            <div
                class="bg-slate-700 mx-5 my-5 lg:mx-10 lg:my-10 h-96 lg:h-[35rem] border-4 border-dashed border-blue-700 relative overflow-hidden">
                <form id="imageForm" enctype="multipart/form-data"
                    class="mx-24 my-36 lg:mx-64 lg:my-64 absolute inset-0 flex justify-center items-center">
                    <input type="file" id="imageInput" name="imageInput" accept="image/*" class="block w-full text-md text-slate-950
                    file:mr-4 file:py-3 file:px-5
                    file:rounded-full file:border-0
                    file:text-lg
                    file:bg-gray-300 file:text-black file:font-semibold
                    hover:file:text-blue-950
                  " />

                    <button type="submit" id="resizeButton" class="hidden"></button>
                </form>

                <!-- Preview Container -->
                <div id="previewContainer" class="absolute inset-0 hidden justify-center items-center">
                    <img id="previewImage" class="max-w-full max-h-full object-contain" alt="Uploaded Image Preview" />
                </div>

                <!-- Resized Image Display Section -->
                <div id="resizedImageContainer" class="absolute inset-0 hidden flex justify-center items-center">
                    <!-- The resized image will be dynamically added here -->
                </div>
            </div>

            <div id="resize-w-h" class="flex flex-col text-white justify-center items-center gap-y-3 mb-5 hidden">
                <p class="font-semibold text-xl">Enter width and height to resize:</p>
                <div class="flex flex-row gap-x-4">
                    <div>
                        Width: <input type="number" name="" id="width" class="bg-slate-600 w-14 rounded-md">
                    </div>
                    <div>
                        Height: <input type="number" name="" id="height" class="bg-slate-600 w-14 rounded-md">
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col justify-center items-center">
            <!-- ADJUSTMENTS -->
            <div class="bg-slate-800 w-72 lg:h-96 rounded-2xl">
                <p class="text-2xl text-white text-center font-bold">ADJUSTMENTS</p>
                <form action="#" method="post" class="flex flex-col items-center gap-y-8 mt-10">
                    <div>
                        <p class="text-gray-400 text-lg">Exposure</p>
                        <input type="range" name="" id="">
                    </div>

                    <div>
                        <p class="text-gray-400 text-lg">Exposure</p>
                        <input type="range" name="" id="">
                    </div>

                    <div>
                        <p class="text-gray-400 text-lg">Exposure</p>
                        <input type="range" name="" id="">
                    </div>
                </form>
            </div>

            <!-- RESET/EXPORT -->
            <div class="bg-slate-800 w-72 h-20 rounded-2xl mt-10">
                <div class="flex flex-row gap-x-3 items-center justify-center my-4">
                    <button
                        class="bg-gray-600 rounded-full text-lg font-semibold text-white px-8 py-2 hover:bg-gradient-to-r from-teal-400 to-blue-500 hover:text-slate-900">Reset</button>
                    <button
                        class="bg-gray-600 rounded-full text-lg font-semibold text-white px-8 py-2 hover:bg-gradient-to-r from-teal-400 to-blue-500 hover:text-slate-900">Export</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/editor.js"></script>
</body>

</html>