<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manipix</title>
    <link href="/static/output.css" rel="stylesheet">
    <style>
        .glow {
            text-shadow: 0 3px #3d7bff, 0 0 3px #3d7bff, 0 0 7px #3d7bff, 0 0 5px #3d7bff;
        }
    </style>
</head>

<body class="bg-slate-900">

    <!-- NAVBAR -->
    <nav class="fixed w-full z-50 bg-gradient-to-r from-blue-700 to-teal-500 text-white">

        <div class="container mx-auto flex justify-between items-center px-6 py-4">
            <div class="text-3xl md:text-4xl font-bold text-left text-gray-900 md:ml-10 md:mt-0.5">Manipix</div>

            <!-- Hamburger Button -->
            <button id="hamburger" class="block md:hidden text-3xl text-gray-900 hover:text-white">
                &#9776;
            </button>

            <ul id="menu"
                class="hidden text-2xl text-purple-950 font-semibold flex-col space-y-4 absolute top-full left-0 w-full bg-gradient-to-r from-blue-600 to-teal-500 p-2 md:static md:flex md:flex-row md:space-y-0 md:space-x-10 md:bg-transparent md:from-transparent md:to-transparent md:flex-1 md:items-center md:justify-center">
                <li><a href="#tools" class="hover:text-gray-300">Discover</a></li>
                <li><a href="#" class="hover:text-gray-300">Create</a></li>
                <li><a href="#" class="hover:text-gray-300">Learn</a></li>
                <li><a href="#contact" class="hover:text-gray-300">Connect</a></li>
            </ul>
        </div>

        <svg class="hidden md:block w-full h-10 md:-mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 80"
            preserveAspectRatio="none">
            <path fill="rgb(15, 23, 42)" d="M0,40 C480,150 960,-50 1440,70 L1440,140 L0,90 Z"></path>
        </svg>

        <!-- <hr class="md:hidden border-t border-gray-800"> -->

    </nav>

    <!-- HOMEPAGE -->
    <div id="content" class="flex flex-col items-center justify-center min-h-screen pt-32">

        <svg class="hidden md:block w-5 h-5 fill-yellow-400 opacity-30 animate-bounce mt-8 mb-6 mr-96"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <circle cx="40" cy="40" r="30" />
        </svg>

        <div class="text-center md:mb-32">

            <h1 class="text-gray-200 text-5xl md:text-7xl font-bold mb-4 glow animate-pulse">TRANSFORM YOUR VISION</h1>
            <p class="text-blue-500 text-4xl md:text-6xl font-semibold">INTO REALITY</p>

            <svg class="hidden md:block w-10 h-10 fill-cyan-500 opacity-30 mr-96 mt-8 animate-spin-slow"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <rect width="800" height="800" class="stroke-black stroke-2" />
            </svg>

            <div class="container flex flex-row items-center justify-center space-x-10 mt-28 md:mt-16">
                <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="30" cy="30" r="30" class="hidden md:block fill-purple-700 animate-pulse" />
                </svg>

                <button
                    class="px-20 py-4 text-lg bg-gradient-to-r from-teal-400 to-blue-300 text-slate-950 font-bold rounded-full border border-transparent hover:text-white shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-300">
                    Start Creating
                </button>

                <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="30" cy="30" r="30" class="hidden md:block fill-purple-400 animate-pulse " />
                </svg>
            </div>

            <hr class="hidden md:block w-50 mt-14 border-blue-400">

            <svg class="hidden md:block w-10 h-10 text-pink-500 opacity-30 animate-spin-slow mt-10 mb-6 ml-[60rem]"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <polygon points="50,0 0,100 100,100" fill="currentColor"></polygon>
            </svg>
        </div>
    </div>


    <!-- BASIC TOOLS -->
    <div id="tools">
        <div class="mb-20">
            <h1
                class="text-4xl md:text-6xl text-center font-bold bg-gradient-to-r from-teal-600 via-blue-400 to-purple-500 bg-clip-text text-transparent">
                BASIC TOOLS</h1>

            <div class="flex flex-row text-white justify-between items-center mt-12 mx-auto max-w-6xl">
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-80 md:h-72 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="w-10 h-10 fill-red-500 md:opacity-30 animate-bounce"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150">
                            <circle cx="70" cy="70" r="70" />
                        </svg>
                    </div>
                </div>
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-72 md:h-56 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="w-10 h-10 fill-cyan-500 md:opacity-30 animate-pulse md:animate-spin-slow"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <rect width="800" height="800" class="stroke-black stroke-2" />
                        </svg>
                    </div>
                </div>
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-80 md:h-72 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold md:font-bold text-xl md:text-4xl">Blur effect</p>
                        <svg class="w-10 h-10 text-pink-500 animate-flicker md:opacity-30"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <polygon points="50,0 0,100 100,100" fill="currentColor"></polygon>
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <!-- ADVANCE TOOLS -->
        <div class="mb-20">
            <h1
                class="text-4xl md:text-6xl text-center font-bold bg-gradient-to-r from-teal-600 via-blue-400 to-purple-500 bg-clip-text text-transparent">
                ADVANCE TOOLS</h1>

            <div class="flex flex-row text-white justify-between items-center mt-12 mx-auto max-w-6xl">
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-72 md:h-56 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="w-10 h-10 fill-cyan-500 opacity-30 animate-pulse md:animate-spin-slow"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <rect width="800" height="800" class="stroke-black stroke-2" />
                        </svg>
                    </div>
                </div>
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-80 md:h-72 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="w-10 h-10 text-pink-500 animate-flicker" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 100 100">
                            <polygon points="50,0 0,100 100,100" fill="currentColor"></polygon>
                        </svg>
                    </div>
                </div>

                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-72 md:h-56 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="md:block w-10 h-10 fill-red-500 opacity-30 animate-bounce"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150">
                            <circle cx="70" cy="70" r="70" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>


        <!-- PROGRAMMER TOOLS -->
        <div class="mb-20">
            <h1
                class="text-4xl md:text-6xl text-center font-bold bg-gradient-to-r from-teal-600 via-blue-400 to-purple-500 bg-clip-text text-transparent">
                PROGRAMMER TOOLS</h1>

            <div class="flex flex-row text-white justify-between items-center mt-12 mx-auto max-w-6xl">
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-80 md:h-72 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="w-10 h-10 text-pink-500 animate-flicker" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 100 100">
                            <polygon points="50,0 0,100 100,100" fill="currentColor"></polygon>
                        </svg>
                    </div>
                </div>
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-72 md:h-56 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="md:block w-10 h-10 fill-red-500 opacity-30 animate-bounce"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150">
                            <circle cx="70" cy="70" r="70" />
                        </svg>
                    </div>
                </div>
                <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg">
                    <div
                        class="flex flex-col items-center justify-center w-20 h-28 md:w-80 md:h-72 bg-slate-800 rounded-lg gap-y-12">
                        <p class="font-semibold text-xl md:font-bold md:text-4xl">Blur effect</p>
                        <svg class="w-10 h-10 fill-cyan-500 opacity-30 animate-pulse md:animate-spin-slow"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                            <rect width="800" height="800" class="stroke-black stroke-2" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-row items-center justify-center mt-14 mx-auto max-w-6xl">
            <div class="p-[5px] bg-gradient-to-r from-teal-500 via-blue-400 to-purple-500 rounded-lg w-full">
                <div class="flex flex-col items-center justify-center w-full h-44 bg-slate-700 rounded-lg gap-y-8">
                    <p class="font-bold text-2xl md:text-4xl text-purple-400">Start Your Creative Journey</p>
                    <button
                        class="px-10 py-2 md:px-20 md:py-4 text-lg bg-gradient-to-r from-blue-600 to-teal-400 text-slate-950 font-bold rounded-full border border-transparent hover:text-gray-300 shadow-lg hover:scale-105 hover:shadow-xl transition-all duration-300">
                        Get Started Free
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row mt-2 md:mt-28" id="contact">
        <div class="hidden md:block pl-20 mr-32">
            <img src="/static/images/reach.png" alt="" class="w-[39rem]">
        </div>

        <div class="mt-20">
            <p class="text-4xl md:text-6xl text-cyan-400 font-bold">REACH OUT <span
                    class="text-white text-3xl md:text-5xl font-semibold">and</span></p>
            <p class="text-white text-3xl md:text-5xl font-semibold mt-2">Engage</p>
            <p class="text-lg md:text-2xl text-gray-300 mt-3 md:mt-6">Yours Idea Matter - Let's Make Them Happen</p>

            <div class="flex flex-col mt-8 md:mt-12">
                <form action="#">
                    <div>
                        <input type="text" name="fname" id="" placeholder="First Name"
                            class="bg-slate-800 w-full md:w-64 mb-5 md:mr-3 md:mb-0 border-2 rounded-full border-slate-900 px-3 py-0.5 caret-cyan-500 focus:outline-none focus:ring-1 focus:ring-cyan-300">
                        <input type="text" name="lname" id="" placeholder="Last Name"
                            class="bg-slate-800 w-full md:w-64 border-2 rounded-full border-slate-900 px-3 py-0.5 caret-cyan-500 focus:outline-none focus:ring-1 focus:ring-cyan-300">
                    </div>
                    <div class="mt-5">
                        <input type="email" name="email" id="" placeholder="Email"
                            class="bg-slate-800 w-full md:-64 md:w-full md:mr-3 border-2 rounded-full border-slate-900 px-3 py-0.5 caret-cyan-500 focus:outline-none focus:ring-1 focus:ring-cyan-300">
                    </div>
                    <div class="mt-5">
                        <textarea name="desc" id="" rows="4" cols="15" placeholder="Description"
                            class="bg-slate-800 w-full md:mr-3 rounded-lg px-3 py-0.5 caret-cyan-500 focus:outline-none focus:ring-1 focus:ring-cyan-300"></textarea>
                    </div>
                    <div class="mt-5 ml-32 md:ml-56">
                        <input type="submit" value="Send"
                            class="bg-blue-400 text-black py-1 md:py-2 font-semibold px-4 md:px-5 rounded-md md:rounded-full">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer class="mt-10 bg-gray-800 flex flex-row gap-x-44">
        <div class="mt-10 ml-16">
            <p
                class="bg-gradient-to-r from-purple-500 via-blue-500 to-teal-600 bg-clip-text text-transparent text-3xl mb-3 font-bold">
                MANIPIX</p>
            <p class="text-white">All-in-one Photo Editor for easy editing and better design</p>
            <div class="flex flex-row mt-3 gap-x-1">
                <a href="https://www.facebook.com/" target="_blank"><img src="/static/images/facebook.png" alt=""></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="/static/images/instagram.png" alt=""></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="/static/images/youtube.png" alt=""></a>
            </div>
        </div>

        <div class="mt-10 mb-10">
            <p class="text-cyan-400 font-semibold mb-5">COMPANY</p>
            <ul class="text-gray-300">
                <li class="hover:text-blue-400">About Us</l10>
                <li class="hover:text-blue-400">Flyers</li>
                <li class="hover:text-blue-400">Contact</li>
                <li class="hover:text-blue-400">Posters</li>
            </ul>
        </div>

        <div class="mt-10 mb-10">
            <p class="text-cyan-400 font-semibold mb-5">COMPANY</p>
            <ul class="text-gray-300">
                <li class="hover:text-blue-400">About Us</l10>
                <li class="hover:text-blue-400">Flyers</li>
                <li class="hover:text-blue-400">Contact</li>
                <li class="hover:text-blue-400">Posters</li>
            </ul>
        </div>

        <div class="mt-10 mb-10">
            <p class="text-cyan-400 font-semibold mb-5">COMPANY</p>
            <ul class="text-gray-300">
                <li class="hover:text-blue-400">About Us</l10>
                <li class="hover:text-blue-400">Flyers</li>
                <li class="hover:text-blue-400">Contact</li>
                <li class="hover:text-blue-400">Posters</li>
            </ul>
        </div>
    </footer>

    <script>
        const hamburger = document.getElementById('hamburger');
        const menu = document.getElementById('menu');

        hamburger.addEventListener('click', () => {
            menu.classList.toggle('hidden'); // Toggles the visibility
        });
    </script>

</body>

</html>