<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manipix</title>
    <link href="/static/output.css" rel="stylesheet">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>

<body class="bg-slate-900">
    <nav class="relative bg-gradient-to-r from-blue-600 to-green-700 text-white">
        <div class="container mx-auto flex justify-between items-center px-6 py-4">

            <div class="text-3xl md:text-4xl font-bold text-left text-gray-900 md:ml-10 md:mt-0.5">Manipix</div>

            <!-- Hamburger Button (Visible on small screens) -->
            <button id="hamburger" class="block md:hidden text-3xl text-gray-900">
                &#9776;
            </button>

            <!-- class="hidden flex-col space-y-4 text-2xl absolute top-full left-0 w-full bg-gradient-to-r from-blue-600 to-green-700 md:static md:flex md:space-x-10 md:text-2xl text-purple-950 font-semibold md:items-center md:justify-center md:flex-1" -->
            <ul id="menu"
                class="hidden text-2xl text-purple-950 font-semibold flex-col space-y-4 absolute top-full left-0 w-full bg-gradient-to-r from-blue-600 to-green-700 p-2 md:static md:flex md:flex-row md:space-y-0 md:space-x-10 md:bg-transparent md:from-transparent md:to-transparent md:flex-1 md:items-center md:justify-center">
                <li><a href="#" class="hover:text-gray-300">Discover</a></li>
                <li><a href="#" class="hover:text-gray-300">Create</a></li>
                <li><a href="#" class="hover:text-gray-300">Learn</a></li>
                <li><a href="#" class="hover:text-gray-300">Connect</a></li>
            </ul>

            <!-- <div class="flex-1 text-right"></div> -->
        </div>
        <!-- Curved Bottom -->
        <svg class="hidden md:block w-full h-10 md:-mt-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 80"
            preserveAspectRatio="none">
            <path fill="rgb(15, 23, 42)" d="M0,40 C480,150 960,-50 1440,70 L1440,140 L0,90 Z"></path>
        </svg>

        <hr class="md:hidden border-t border-gray-800">
    </nav>

    <script>
        const hamburger = document.getElementById('hamburger');
        const menu = document.getElementById('menu');

        hamburger.addEventListener('click', () => {
            menu.classList.toggle('hidden'); // Toggles the visibility
        });
    </script>
</body>

</html>